.inputForm {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

input {
  color: var(--black-color);
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

input[type='text'],
input[type='phone'],
input[type='date'],
input[type='number'] {
  width: 200px;
  height: 30px;
  padding-left: 5px;
  margin-right: 5rem;
}
