.history-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  color: var(--fourth-color);
  width: 100%;

  .table-history {
    width: 95%;

    .head-table {
      height: 35px;

      th {
        background-color: var(--fourth-color);
        color: var(--white-color);
        font-weight: 400;
      }
    }

    .body-table {
      .row {
        height: 35px;

        &:hover {
          background-color: var(--white-color);
        }
      }
    }

    th,
    td {
      width: 10%;
      text-align: left;
      padding-left: 0.3rem;
      font-size: 0.9rem;
    }
  }
}
