.search-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  color: var(--fourth-color);

  .select-people {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input[name='people'] {
      margin-right: 0.5rem;
    }

    label {
      margin-right: 3rem;
      font-weight: 700;
    }
  }

  .inputs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .client-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;

      .client-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1rem;
      }
    }
  }

  .stroke {
    border-bottom: 1px solid var(--primary-color);
    width: 90%;
    opacity: 0.4;
  }
}
