.callDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  .info-call {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 0.9rem;
    color: var(--dark-secondary-color);

    .call-title {
      color: var(--primary-color);
      font-size: 1.2rem;
      font-weight: 700;
    }

    .call-number {
      font-weight: 700;
    }

    .duration-call {
      span {
        font-weight: 700;
      }
      .card-item {
        display: flex;
        align-items: center;
        align-content: center;
        margin: 10px 0;
      }
    }
  }

  .action-call {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    font-size: 1.5rem;

    .accept {
      color: green;
    }
    .decline {
      color: red;
    }
  }
}
