.sidebar {
  width: 90px;
  background-color: var(--dark-color);
  color: var(--white-color);

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    img {
      width: 60px;
    }
  }

  .sidebar-nav {
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      font-size: 1.5rem;

      &:hover {
        background-color: var(--third-color);
        color: var(--white-color);
        cursor: pointer;
      }

      p {
        font-size: 0.8rem;
        padding: 5px;
      }
    }
  }
}
