.sidebar {
  width: 90px;
  height: 100vh;
  background-color: var(--white-color);
  color: var(--dark-color);

  h2 {
    padding: 20px;
  }

  .sidebar-nav {
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      font-size: 1.5rem;

      &:hover {
        background-color: var(--fourth-color);
        color: var(--white-color);
        cursor: pointer;
      }

      p {
        font-size: 0.8rem;
        padding: 5px;
      }
    }
  }
}
